<button class="hamburger">
  Toggle Menu
  <span></span>
  <span></span>
  <span></span>
</button>
<nav class="main overflow-hidden">
  <div class="navbar-tab"></div>
  <ul>
    <li>
      <a href="/">
        <span>
          {% svg /images/004-user.svg class="icon-inline" overflow="hidden" width="20" %}
        </span>
        <span>Bio</span>
      </a>
    </li>
    <li>
      <a href="/blog.html">
        <span>
          {% svg /images/001-pen.svg class="icon-inline" overflow="hidden" width="20" %}
        </span>
        <span>Blog</span>
      </a>
    </li>
    <li>
      <a href="/projects.html">
        <span>
          {% svg /images/003-startup.svg class="icon-inline" overflow="hidden" width="20" %}
        </span>
        <span>Projects</span>
      </a>
    </li>
  </ul>
</nav>
