<button class="hamburger">
  Toggle Menu
  <span></span>
  <span></span>
  <span></span>
</button>
<nav class="main overflow-hidden">
  <div class="navbar-tab"></div>
  <ul>
    <li>
      <a href="/">
        <span>
          {% svg /images/003-real-estate.svg class="icon-inline" overflow="hidden" width="20" %}
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/blog/">
        <span>Blog</span>
      </a>
    </li>
    <li>
      <a href="/projects/">
        <span>Projects</span>
      </a>
    </li>
  </ul>
</nav>
