---
---
@import 'reset';

:root {
    --accent-color: #27A822;
    --accent-hover-color: #267723;
    // Light 
    --background-color: #FAFAFA;
    --foreground-color: #464646;
    --light-text-color: #888;
    // Dark
    // --background-color: #464646;
    // --foreground-color: #FAFAFA; 
}

// Basic Typography

body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 2;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

h1, h2, h3, h4 {
    line-height: 1.5;
    margin-top: 4rem;
    margin-bottom: 1.2rem;
    font-weight: 200;
    text-shadow: 2px 2px 4px #0002;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    border-bottom: 1px solid var(--accent-color);
    // margin-bottom: 2rem;
}

h3 { 
    font-size: 2.5rem;
    border-bottom: 1px solid var(--accent-color);
    font-weight: 200;
    // margin-bottom: 2rem;
}

h4 {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--accent-color);
    // margin-bottom: 1.5rem;
}

p {
    margin-bottom: 2rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition-duration: 0.4s;
    &:hover {
        color: var(--accent-hover-color);
    }
}

ul {
    margin-left: 2rem;
    list-style-type: "-";
    li {
        padding-left: .5rem;
    }
}

// Basic Layout

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
    flex: 1 0 auto;
}

// navbar

nav {
    border-top: solid 3px var(--accent-color);
    padding: 0 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none; 
    padding: 0;
    li {
        padding: 0;
        a {
            color: var(--foreground-color);
            display: block;
            padding: 0 1.5rem;
            &:hover {
                color: var(--accent-color);
            }
        }
    }

    // Move first item (homepage link) to the left
    li:first-child {
        margin-right: auto;
    }

    li.active {
        a {
            color: var(--background-color);
            box-shadow: 4px 3px 7px #0002;
        }
        background-color: var(--accent-color);
    }
}

dl {
    display: grid;
    grid-template-columns: [definition] 1fr [description] 2fr;
    column-gap: 2rem;
    row-gap: 4rem;

    dd, dt {
        // padding: 2rem 1rem;
    }

    dt {
        grid-column: definition;
        font-weight: bold;
        text-align: right;
    }

    dd {
        grid-column: description;
    }
}

// footer

footer {
    flex-grow: 0;
    font-size: 1rem;
    text-align: center;
    color: var(--light-text-color);
    border-bottom: 3px solid var(--accent-color);
    p {
        margin-bottom: 0;
    }
}

// Index Page
#portrait {
    display: block;
    max-width: 80%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 0;
    margin: 8rem auto;
}