---
---
@import 'reset';

@import 'footer';
@import 'icons';
@import 'layout';
@import 'nav';
@import 'project_showcase';
@import 'typography';

// Site-wide color palette:
:root {
    --accent-color: #27A822;
    --accent-hover-color: #267723;
    --background-color: #FAFAFA;
    --foreground-color: #464646;
    --light-text-color: #888;
}

// Special items

// Index Page
.circle-portrait {
    display: block;
    max-width: 80%;
    border-radius: 50%;
    margin: 1em auto;
}
