<button class="hamburger">
  Toggle Menu
  <span></span>
  <span></span>
  <span></span>
</button>
<nav class="main">
  <div class="navbar-tab"></div>
  <ul>
    <li>
      <a href="/">
        <span>{% svg /images/home.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/blog.html">
        <span>{% svg /images/fountain-pen.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Blog</span>
      </a>
    </li>
    <li>
      <a href="/projects.html">
        <span>{% svg /images/file.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a href="/resume.html">
        <span>{% svg /images/id-card.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Resume</span>
      </a>
    </li>
  </ul>
</nav>
