<button class="hamburger">
  Toggle Menu
  <span></span>
  <span></span>
  <span></span>
</button>
<nav class="main overflow-hidden">
  <div class="navbar-tab"></div>
  <ul>
    <li>
      <a href="/">
        <span>{% svg /images/003-real-estate.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/blog/">
        <span>{% svg /images/001-pen.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Blog</span>
      </a>
    </li>
    <li>
      <a href="/projects/">
        <span>{% svg /images/003-startup.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Projects</span>
      </a>
    </li>
    <li class="dropdown-parent">
      <a href="/resume/">
        <span>{% svg /images/004-user.svg class="icon-inline" overflow="hidden" %}</span>
        <span>Resume</span>
      </a>
      <ul class="nav-dropdown">
        <li><a href="/resume/cv/">CV</a></li>  
        <li><a href="/resume.pdf" data-no-swup>Resume PDF</a></li>  
        <li><a href="/cv.pdf" data-no-swup>CV PDF</a></li>  
      </ul>
    </li>
  </ul>
</nav>
