.icon {
    height: 1em;
    margin: 0 .3rem;

    &.icon-big {
        margin-top: 1em;
        height: 2em;
    }

    &.icon-color path {
        fill: var(--foreground-color);
        transition-duration: .9s;
    }

}

a:hover .icon-color path {
    transition-duration: .2s;
    fill: var(--accent-color);
}

// People don't want me altering their logos, so the hover states are background-color changes
.icon-logo {
    border-radius: 50%;
    background-color: var(--background-color);
    transition-duration: .9s;
}

a:hover .icon-logo {
    background-color: var(--accent-color);
    transition-duration: .2s;
}

ul.tech-list {
    margin-left: 0;
    font-size: 1.3rem;
    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 .5rem;
        // color: var(--background-color);
        // background-color: var(--light-text-color);
        border: 1px solid var(--accent-color);
        margin-bottom: .7rem;
        border-radius: .4rem;
    }
}