// Basic site-wide Layout

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    max-width: 100vw;
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

article {
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1em;
}

article > header {
    margin-bottom: 3em;
    h1 {
        text-align: center;
    }
}

article > section {
    margin-bottom: 2em;
}

section > header {
    margin-bottom: 1em;
}

// Custom page layouts

.two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .column {
        max-width: 50%;
        min-width: 300px;
    }

    .both-columns {
        width: 100%;
    }
}