// navbar

body header {
  overflow: hidden;

  a:focus, button:focus{
    outline: 1px solid var(--light-text-color);
  }
}

nav.main {
  position: relative;
  // This is the moving highlight:
  div.navbar-tab {
    background-color: var(--accent-color);
    position: absolute;
    z-index: 10;
    box-shadow: 2px 1px 6px #0006;

    // Approximately the correct size; scaling affects the box shadow.
    width: 80px;
    height: 20px;
    transform-origin: 0 0;

    // Initialize it off the screen, position with javascript once loaded:
    left: -100px;
    top: -100px;
  }

  .slide-transition {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    z-index: 20;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--foreground-color);
  }

  .active {
    color: var(--background-color);

    svg path {
      fill: var(--background-color);
    }

    &:hover {
      text-shadow: 4px 3px 7px #0004;
      // transition: .4s;
    }
  }

  li:not(.active):hover {
    color: var(--accent-hover-color);
  }

  a {
    color: inherit;
    background-color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

// Desktop styles:
@media (min-width: 600px) {
  nav.main {
    padding: 0 1em 1em 1em;

    ul {
      flex-direction: row;
      justify-content: end;
    }

    a {
      padding: 0 1em;
    }

    // Move first item (homepage link) to the left
    li:first-child {
      margin-right: auto;
    }
  }

  button.hamburger {
    display: none;
  }
}

// Mobile styles
@media (max-width: 600px) {
  button.hamburger {
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 50%;
    text-align: center;
    line-height: 0;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    z-index: 20;

    position: fixed;
    right: 1vw;
    bottom: 9vh;

    &:hover {
      color: var(--background-color);
    }

    svg {
      margin: auto;
    }

    svg path {
      fill: var(--background-color);
    }
  }

  button.hamburger.active {
  }

  nav.main {
    // overflow: hidden;
    transition: transform .3s;
    transform-origin: right bottom;
    transform: scale(0);
    background-color: var(--background-color);
    position: fixed;
    right: 10vw;
    left: 10vw;
    bottom: 14vh;
    border: 1px solid var(--accent-color);

    z-index: 10;

    ul {
      flex-direction: column;
      align-items: center;
    }

    a {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 1.3em;
    }

    li {
      width: 100%;
      padding: .4em 0;
    }
  }
}

.hamburger {
  svg {
    padding: 0 .5em;
  }
}

nav.main.open {
  transform: scaleX(1);
}

nav.social-media {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    margin: 0 1rem;
    transition-property: fill-color;
    transition-duration: .2s;
  }
}
