// navbar

body header {
  overflow: hidden;

  a:focus, button:focus {
    outline: 1px solid var(--light-text-color);
  }
}

nav.main {
  position: relative;

  // This is the moving highlight:
  div.navbar-tab {
    background-color: var(--accent-color);
    position: absolute;
    z-index: 10;
    box-shadow: 2px 1px 6px #0006;

    // Approximately the correct size; scaling affects the box shadow.
    width: 80px;
    height: 20px;
    transform-origin: 0 0;

    // Initialize it off the screen, position with javascript once loaded:
    left: -100px;
    top: -100px;
  }

  .slide-transition {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    z-index: 20;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--foreground-color);
  }

  .active {
    color: var(--background-color);

    svg path {
      fill: var(--background-color);
    }

    &:hover {
      text-shadow: 4px 3px 7px #0004;

      // transition: .4s;
   
    }
  }

  li:not(.active):hover {
    color: var(--accent-hover-color);
  }

  a {
    color: inherit;
    background-color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

// Desktop styles:
@media (min-width: 600px) {
  nav.main {
    padding: 0 1em 1em 1em;

    ul {
      flex-direction: row;
      justify-content: end;
    }

    a {
      padding: 0 1em;
    }

    // Move first item (homepage link) to the left
    li:first-child {
      margin-right: auto;
    }
  }

  button.hamburger {
    display: none;
  }
}

// Mobile styles
@media (max-width: 600px) {
  button.hamburger {
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 50%;
    text-align: center;
    line-height: 0;
    width: 50px;
    height: 50px;
    z-index: 20;
    box-shadow: 3px 3px 20px #00000080;
    position: fixed;
    right: 20px;
    bottom: 60px;
    font-size: 0;
    overflow: hidden;

    span {
      font-size: 0;
      position: absolute;
      height: 1px;
      width: 30px;
      display: block;
      background-color: var(--background-color);
      transform-origin: left;

      transition-property: transform;
      transition-duration: 150ms;
    }
    :nth-child(1) {
      top: 15px;
      right: 10px;
    }
    :nth-child(2) {
      top: 25px;
      right: 10px;
    }
    :nth-child(3) {
      top: 35px;
      right: 10px;
    }
  }
}

button.hamburger.active {
  // If I had better math available in CSS, I wouldn't have to hardcode these
  // values
  :nth-child(1) {
    transform: rotate(33.7deg) scaleX(1.2);
  }
  :nth-child(2) {
    transform: translateX(-100px);
  }
  :nth-child(3) {
    transform: rotate(-33.7deg) scaleX(1.2);
  }
}

nav.main {
  overflow: hidden;
  transition: transform 150ms;
  transform-origin: right bottom;
  transform: scale(0);
  background-color: var(--background-color);
  position: fixed;
  right: 45px;
  left: 45px;
  bottom: 85px;
  border: 1px solid var(--accent-color);
  box-shadow: 3px 3px 15px #0009;

  // Fixes disappearing border on chrome
  margin: 1px;
  z-index: 10;

  ul {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }

  li {
    width: 100%;
    margin: .4em 0;
  }
}

nav.main.open {
  transform: scale(1);
}

nav.social-media {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    margin: 0 1rem;
    transition-property: fill-color;
    transition-duration: .2s;
  }
}
