dl.project-showcase {
    display: grid;
    grid-template-columns: [term] 1fr [description] 2fr;
    vertical-align: center;
    // color: var(--background-color);
    // background-color: var(--foreground-color);
    dd, dt {
        margin-bottom: 6rem;
        padding-top: 1rem;
        margin-left: 0rem;
    }

    dt {
        grid-column: term;
        padding-right: 2rem;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        font-weight: bold;
        text-align: right;
    }

    dd {
        grid-column: description;
        padding-left: 2rem;
        border-left: 1px solid var(--accent-color);
    }

    img {
        grid-column-start: term;
        grid-column-end: span 2;
        max-width: 100%;
        margin-bottom: 0rem;
        margin-top: 2rem;
        padding: 1px;
        background-color: var(--accent-color);
    }

    span {
        padding: 2rem;
        background-color: var(--foreground-color);
    }
}

dl.stacked {

    margin-bottom: 2rem;

    dd {
        margin-left: 1rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        border-left: 1px solid var(--accent-color);
    }

}

