dl.project-showcase {
    display: grid;
    grid-template-columns: [term] 1fr [description] 2fr;
    column-gap: 2rem;
    row-gap: 3rem;
    vertical-align: center;

    dt {
        grid-column: term;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        border-right: 1px solid var(--accent-color);
        padding-right: 2rem;
        font-weight: bold;
        text-align: right;
    }

    dd {
        grid-column: description;
    }
}

dl.stacked {

    margin-bottom: 2rem;

    dd {
        margin-left: 1rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        border-left: 1px solid var(--accent-color);
    }

}

