// Basic, site-wide typography & style
html {
    font-size: 18px;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.8;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

h1, h2, h3, h4 {
    font-weight: 200;
    text-shadow: 2px 2px 4px #0002;
}

h1 {
    font-size: 5em;
    line-height: 1.5;
}

h2 {
    font-size: 2.5em;
    line-height: 1.5;
}

h3 { 
    font-size: 1.7em;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
}

// Use smaller fonts on mobile:

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

p:not(:last-child) {
    margin-bottom: 1em;
    font-size: 1em;
}

a, button {
    color: var(--accent-color);
    text-decoration: none;
    transition-duration: 0.4s;
    &:hover {
        color: var(--accent-hover-color);
    }
}

ul {
    margin-left: 2em;
    list-style-type: disc;
    list-style-position: inside;

    li {
        margin-bottom: 1em;

    }

    &.sidebar li {
        list-style-type: none;
        border-left: 1px solid var(--accent-color);
        margin-bottom: 1em;
    }
}

.subtitle {
    font-style: italic;
    font-size: 1.1em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.muted {
    font-size: .9em;
    line-height: 1.6;
    color: var(--light-text-color);
}

.keyline-bottom {
    border-bottom: 1px solid var(--accent-color);
    line-height: 1.2;
    margin-bottom: .6em;
}
