<!doctype html>
<html lang="en">
  <head>
    <title>Robert Buchberger</title>
    <meta name="description" content="Robert Buchberger's Portolio, Resume, and Blog">
    <meta name="author" content = "Robert Buchberger">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <meta id="theme-color" name="theme-color" content="{{ site.css.accent-color }}">
    <link rel="stylesheet" href="/main.css">
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Nunito:200,400" rel="stylesheet"> {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <header>
      {% include site_header.html %}
    </header>
    <main id="swup" class="transition-fade">
      {{ content }}
    </main>
    <footer>
      {% include site_footer.html %}
      <script src="/dist/bundle.js"></script>
    </footer>
  </body>
</html>
