<!doctype html>
<html lang="en">
<head>
    <title>Robert Buchberger</title>
    <meta name="description" content="Robert Buchberger's Portolio, Resume, and Blog">
    <meta name="author" content = "Robert Buchberger">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,400" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"
</head>
<body>
    <header>
        {% include site_header.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        {% include site_footer.html %}
    </footer>
</body>
</html>