---
---
@import 'reset';

@import 'footer';
@import 'icons';
@import 'layout';
@import 'nav';
@import 'project_showcase';
@import 'typography';
@import 'print';
@import 'blog';

// Site-wide color palette:
:root {
  // --accent-color: #27A822;
  --accent-color: {{ site.css.accent-color }};
  --accent-hover-color: {{ site.css.accent-hover-color }};
  --background-color: {{ site.css.background-color }};
  --foreground-color: {{ site.css.foreground-color }};
  --light-text-color: {{ site.css.light-text-color }};
}

// Special items

// Index Page
.circle-portrait {
  display: block;
  max-width: 80%;
  border-radius: 50%;
  margin: 2em auto 5em auto;
  overflow: hidden;

  * {
    width: 100%;
  }

  @media (max-width: 412px) {
    max-width: 300px;
    max-height: 300px;
    width: calc(100vw - 36px);
    height: calc(100vw - 36px); 
  }

  @media (min-width: 411px) {
    width: 300px;
    height: 300px;
  }
}

// Page load transition
.transition-fade {
  transition: opacity 80ms;
  opacity: 1;
}

html.is-animating .transition-fade{
  opacity: 0;
}
